@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&family=Poppins:ital,wght@0,500;1,400&display=swap");
body {
  background-color: black;
  font-family: league spartan;
}
#logo {
  display: inline-flex;
  height: 140px;
  width: 590px;
  padding-left: 1.3rem;
  margin-top: 2%;
  clear: right;
}
.bars {
  display: none;
}
.sidebar {
  display: none;
}
.linex {
  display: none;
}
.edit {
  display: flex;
  width: auto;
  height: auto;
  min-height: 325px;
  justify-content: center;
  min-width: 250px;
  width: auto;
  height: 340px;
  background-color: rgb(0, 0, 0);
  margin-top: 9px;
  padding: 34px;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.remex {
  display: inline-flex;
  list-style: none;
  text-transform: uppercase;
  padding: 0.3% 1%;
  margin: auto;
}
li {
  padding: 0 1.8rem 2rem;
  font-weight: 850;
  font-size: 21px;
  margin-top: 0;
}
.ref:hover {
  color: white;
}
.ref {
  text-decoration: none;
  color: red;
  transition: color 0s 0s;
}
.main-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

h1 {
  animation: slidein 0.8s 0.3s 1 ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-size: 3.6rem;
  text-transform: uppercase;
  color: white;
  font-weight: 900;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: auto;
  padding: 0.5rem 0.3rem 2rem;
}
.main-pre {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  align-items: baseline;
  padding-top: 10px;
}
.sec {
  border-radius: 6%;
}
p.p2 {
  text-align: justify;
}
p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 6rem;
  color: white;
  font-size: 1rem;
}
.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  color: red;
}
.namhe {
  font-size: 3rem;
}
.occup {
  color: white;
}
p.namestamp {
  color: black;
}
.newspeakers-1,
.newspeakers-3,
.newspeakers-5,
.newspeakers-7,
.speakers-2,
.speakers-4,
.speakers-6,
.speakers-8,
.speakers-10,
.speakers-12,
.speakers-14,
.speakers-16,
.speakers-18,
.speakers-20 {
  display: flex;
  flex-direction: row-reverse;
}
.button {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  background-color: black;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}
.none {
  text-decoration: none;
}
.buon {
  display: inline-flex;
  font-weight: 850;
  font-size: 23px;
  text-transform: uppercase;
  background-color: red;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  height: auto;
  border-radius: 13px;
  padding: 15px;
  justify-content: center;
  align-items: center;
  transition: all 0.3s 0s ease-in;
}
.buon:hover {
  padding: 20px;
  font-size: 22px;
  cursor: pointer;
}
.buon:active {
  color: purple;
}
.rox {
  display: block;
  color: white;
  font-size: 23px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.newsec {
  margin: 2rem auto 0;
}
.divis {
  display: block;
  font-size: 2.6rem;
  font-family: monospace;
}
.red {
  display: inline-flex;
  color: red;
}
footer {
  position: relative;
  bottom: 0;
  padding-top: 5%;
}
.box-foot {
  background-color: red;
  width: auto;
  height: auto;
  border-radius: 10px;
  margin: auto;
}
.copy {
  display: flex;
  flex-direction: column;
  font-size: 32px;
  color: white;
  width: 80%;
  margin: auto;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
.cen {
  display: inline-flex;
  margin: auto;
}

/* media mobile */

@media screen and (max-width: 768px) {
  body {
    background-color: black;
  }
  .logo {
    display: flex;
    height: auto;
    width: auto;
  }
  #logo {
    display: inline-flex;
    height: 4.5rem;
    width: 15rem;
    position: absolute;
    left: 0;
    top: 0;
    margin-left: -5.3%;
  }
  .bars {
    display: block;
    position: absolute;
    top: 1.6rem;
    right: 1rem;
    transition: 0.3s ease;
  }
  .bar-1,
  .bar-2,
  .bar-3 {
    height: 5px;
    width: 1.6rem;
    background-color: white;
    border-radius: 20%;
    /* margin: 10% 0; */
  }
  .bar-1 {
    transform: translateY(-2px);
  }
  .bar-3 {
    transform: translateY(2px);
  }
  .sec {
    height: 23rem;
    width: auto;
  }
  .sidebar {
    display: none;
    background-color: black;
    height: 100vh;
    width: 80%;
    position: fixed;
    top: 0;
    right: 0;
    transform: translate(100%);
    transition: transform 0.2s 0.3s ease-in;
  }
  ul.sidebar-menu {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-weight: 850;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    gap: 1.2rem;
  }
  .sidebar.active {
    display: block;
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    transform: translate(0%);
  }
  .lower {
    display: flex;
    justify-content: center;
  }
  .lower img {
    height: 4rem;
    width: auto;
    position: absolute;
    bottom: 2.8rem;
    margin: auto;
    padding-left: 1rem;
  }
  .spec {
    width: 70%;
    height: 0.1rem;
    background-color: white;
    margin: auto;
    position: absolute;
    bottom: 9rem;
    left: 3rem;
  }
  p.namestamp {
    color: black;
  }
  .newsec {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .divis {
    display: block;
    font-size: 2rem;
    font-family: league spartan;
    justify-self: center;
    color: white;
    word-spacing: 0.3rem;
    text-decoration: underline;
  }
  /* .newsec {
    padding: 0 auto 0;
  } */
  .edit {
    display: flex;
    width: auto;
    height: auto;
    min-height: 325px;
    justify-content: center;
    flex-direction: column;
    min-width: 6rem;
    background-color: rgb(0, 0, 0);
    margin-top: 2rem;
    padding: 2rem;
    border: 2px white;
  }
  .cross {
    display: block;
    position: absolute;
    top: 1.6rem;
    right: 1rem;
  }
  .cross-1 {
    height: 5px;
    width: 1.6rem;
    background-color: white;
    border-radius: 20%;
    transform: translateY(2px) rotate(45deg);
  }
  .cross-2 {
    height: 5px;
    width: 1.6rem;
    background-color: white;
    border-radius: 20%;
    transform: translateY(-3px) translateX(-1.3px) rotate(-45deg);
  }
  .linex {
    display: inline-flex;
    width: 30%;
    height: 0.3rem;
    background-color: white;
    margin: auto;
    margin-top: -2%;
  }
  .speakers {
    border: 1px white;
  }
  .nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
  .remex {
    display: none;
    list-style: none;
    text-transform: uppercase;
    padding: 0.3% 1%;
    margin: auto;
  }
  li {
    padding: 0 1.8rem 2rem;
    font-weight: 850;
    font-size: 21px;
    margin-top: 0;
  }
  .ref:hover {
    color: white;
  }
  .ref {
    text-decoration: none;
    color: red;
    transition: color 0s 0s;
  }
  .main-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  h1 {
    /* animation: slidein 0.8s 0.3s 1 ease-in-out; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-size: 2.1rem;
    text-transform: uppercase;
    color: rgb(255, 8, 0);
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    margin: 7rem auto 1rem;
    padding: 0.5rem auto 2rem;
  }
  .main-pre {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    align-items: baseline;
    padding-top: 10px;
  }
  p.p2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1px 0rem 0 1rem;
    color: rgb(255, 255, 255);
    width: 100%;
    font-size: 0.87rem;
  }
  p.p2::first-letter {
    color: red;
  }
  .sec {
    width: 100%;
    height: auto;
  }
  .name {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0.3rem auto 0;
    color: red;
  }
  .namhe {
    font-size: 1.7rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  .occup {
    color: rgb(255, 255, 255);
  }
  /* .speakers-2,
  .speakers-4,
  .speakers-6,
  .speakers-8,
  .speakers-10,
  .speakers-12,
  .speakers-14 {
    display: flex;
    flex-direction: row-reverse;
  } */
  .button {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    background-color: black;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0;
  }
  .none {
    text-decoration: none;
    margin: -0.3rem 0 0;
  }
  .buon {
    display: inline-flex;
    font-weight: 850;
    font-size: 1.2rem;
    text-transform: uppercase;
    background-color: red;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: white;
    height: auto;
    border-radius: 13px;
    padding: 1rem;
    justify-content: center;
    align-items: center;
  }
  .buon:hover {
    cursor: pointer;
  }
  .buon:active {
    color: purple;
  }
  .rox {
    display: block;
    color: white;
    font-size: 1.2rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
  }
  .red {
    display: inline-flex;
    color: red;
  }
  footer {
    position: relative;
    bottom: 0;
    padding-top: 5%;
  }
  .box-foot {
    background-color: red;
    width: auto;
    height: auto;
    border-radius: 10px;
    margin: auto;
  }
  .copy {
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    color: white;
    width: 90%;
    margin: auto;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .cen {
    display: inline-flex;
  }
}
