@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&family=Poppins:ital,wght@0,500;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gajraj+One&family=League+Spartan:wght@500&family=Pacifico&family=Poppins:ital,wght@0,500;1,400&family=Righteous&display=swap");
body {
  background-color: black;
  font-family: League Spartan;
}
#logo {
  display: inline-flex;
  height: 140px;
  width: 590px;
  padding-left: 1.3rem;
  margin-top: 2%;
  clear: right;
}
.bars {
  display: none;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: black;
  z-index: 1;
}
.cross {
  display: none;
}
p.namestamp {
  color: black;
}
p.date {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
}
.remex {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  padding-top: 1%;
  padding-right: 1rem;
  gap: 1.6rem;
}
li:hover {
  font-size: 30px;
  margin-top: -1rem;
  color: white;
  font-family: League Spartan;
}
li {
  padding-top: 2.7rem;
  font-weight: 850;
  font-size: 1.3rem;
  margin-top: 0;
  /* font-family: initial; */
  transition: all 0.3s 0s ease-in-out;
}
.ref:hover {
  color: white;
}
.ref {
  text-decoration: none;
  color: red;
  /* background-image: -webkit-gradient(
    linear,
    right bottom,
    right top,
    color-stop(85%, rgb(255, 0, 0)),
    color-stop(3%, rgb(0, 0, 0))
  );
  background-image: gradient(
    linear,
    right bottom,
    right top,
    color-stop(85%, rgb(255, 0, 0)),
    color-stop(3%, rgb(0, 0, 0))
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text; */
  transition: color 0s 0s;
}
.banner {
  padding-top: 11.3%;
}
.theme {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.howd {
  margin: auto;
  font-size: 4rem;
  padding: 2rem;
  color: white;
}
.cont {
  font-size: 1.3rem;
  padding: 2rem 4rem;
  color: white;
}
h1 {
  display: inline-flex;
  color: white;
  font-size: 48px;
  font-weight: 850;
  padding: 8% 6.5% 2%;
  text-transform: uppercase;
}
.red {
  padding: 0px 10px;
  color: red;
  text-decoration: underline;
}
.redf {
  color: rgba(255, 0, 0, 0.816);
}
.banner {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  width: 100%;
}
.tag {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.626);
  height: 100%;
  width: 100%;
  margin-top: 0rem;
}
.text {
  display: flex;
  font-size: 6rem;
  color: rgba(255, 255, 255, 0.617);
  text-transform: uppercase;
  justify-content: center;
  margin: 2em auto 0rem;
  font-family: righteous;
  font-weight: 800;
}
.box-con {
  display: flex;
  padding: 1rem 0 1rem;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 0;
}
.button-box {
  display: inline-flex;
  height: 3rem;
  width: auto;
  background-color: red;
  border-radius: 7%;
  padding: 1rem auto 2rem;
}
.tic {
  text-decoration: none;
}
p.tick {
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 800;
  padding: 0 1rem 0;
}
.linex {
  width: 20%;
  height: 0.2rem;
  background-color: white;
  margin: auto;
}
.box-main {
  height: 500px;
  width: 100%;
  background: url(images/giphy.gif);
  background-size: 100% 500px;
  background-repeat: no-repeat;
  margin-top: 0.3rem;
}
.the-box {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 80%;
  margin: auto;
  background: rgb(0, 0, 0);
  margin-top: -1rem;
}
.the-box {
  border: 10px white;
}
.sidebar {
  display: none;
}
#earth {
  height: 700px;
  width: auto;
  min-width: 80%;
  margin: auto;
}
.shivaji {
  display: flex;
  flex-direction: row;
  padding: 5% 0 0;
  width: 100%;
}
.image {
  flex-basis: 35%;
  justify-items: center;
  align-content: center;
  padding: 3% 2% 0;
}
.shiv {
  height: 378px;
  width: auto;
}
.line {
  flex-basis: 0.3%;
  height: 450px;
  margin: 2% 5% 0;
  border-radius: 2%;
  background-color: white;
}
.contact {
  flex-basis: 35%;
  justify-content: center;
  padding: 1.3% 2% 0;
}
.crown {
  justify-items: center;
  padding: 20px;
  text-decoration: underline;
}
.addre {
  justify-items: center;
  color: white;
  font-size: 2rem;
}
.mail {
  color: white;
  text-decoration: none;
}
.social a {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 4rem 3rem 1rem;
  height: 3.4rem;
}
.face,
.insta,
.tweet {
  display: inline-flex;
}
#tweet,
#face {
  border-radius: 35%;
}
#tweet {
  padding: 0.5rem 0 0;
}
.jump {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.3rem;
}
.explo {
  color: white;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 1rem 0 0;
}
.symb {
  color: white;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 0.7rem 0 0;
}
.symb {
  animation: symbole 0.5s 0.7s 5 ease-in-out;
}
@keyframes symbole {
  0% {
    margin: -0.3rem auto 0;
  }
  100% {
    margin: 0.3rem auto 0;
  }
}
footer {
  position: relative;
  bottom: 0;
  padding-top: 5%;
}
.box-foot {
  background-color: red;
  width: auto;
  height: auto;
  border-radius: 10px;
  margin: auto;
}
.copy {
  display: flex;
  flex-direction: column;
  font-size: 32px;
  color: white;
  width: 80%;
  margin: auto;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
.cen {
  display: inline-flex;
  margin: auto;
}
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1.2s all ease;
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

/* media mobile */
@media screen and (max-width: 768px) {
  body {
    background-color: black;
    max-width: 100%;
  }
  .logo {
    display: flex;
    height: auto;
    width: auto;
  }
  #logo {
    display: inline-flex;
    height: 4.5rem;
    width: 15rem;
    position: absolute;
    left: 0;
    top: 0;
    margin-left: -5.3%;
  }
  .bars {
    display: block;
    position: absolute;
    top: 1.6rem;
    right: 0.3rem;
    transition: 0.3s ease;
  }
  .bar-1,
  .bar-2,
  .bar-3 {
    height: 5px;
    width: 1.6rem;
    background-color: white;
    border-radius: 20%;
    /* margin: 10% 0; */
  }
  .bar-1 {
    transform: translateY(-2px);
  }
  .bar-3 {
    transform: translateY(2px);
  }
  .nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .remex {
    display: none;
    flex-direction: column;
    list-style: none;
    text-transform: uppercase;
    padding-top: 1%;
    gap: 1.6rem;
  }
  .remex.active {
    display: block;
  }
  .sidebar {
    display: block;
    background-color: black;
    height: 100vh;
    width: 80%;
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    transform: translate(100%);
    transition: transform 0.2s 0.3s ease-in;
  }
  ul.sidebar-menu {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-weight: 850;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.4rem;
    justify-content: center;
    align-items: center;
  }
  .sidebar.active {
    display: block;
    transform: translate(0);
    position: fixed;
    top: 0;
    right: 0;
  }
  .lower {
    display: flex;
    justify-content: center;
  }
  .lower img {
    height: 4rem;
    width: auto;
    position: absolute;
    bottom: 2.8rem;
    margin: auto;
    padding-left: 1rem;
  }
  .spec {
    width: 70%;
    height: 0.1rem;
    background-color: white;
    margin: auto;
    position: absolute;
    bottom: 9rem;
    left: 3.8rem;
  }
  .cross {
    display: block;
    position: absolute;
    top: 1.6rem;
    right: 1rem;
  }
  .cross-1 {
    height: 5px;
    width: 1.6rem;
    background-color: white;
    border-radius: 20%;
    transform: translateY(2px) rotate(45deg);
  }
  .cross-2 {
    height: 5px;
    width: 1.6rem;
    background-color: white;
    border-radius: 20%;
    transform: translateY(-3px) translateX(-1.3px) rotate(-45deg);
  }
  li:hover {
    font-size: 1.5rem;
    margin-top: 1rem;
    color: white;
    list-style: none;
  }
  li {
    padding-top: 2.7rem;
    font-weight: 850;
    font-size: 1.2rem;
    margin-top: 0;
    /* font-family: initial; */
    transition: all 0.3s 0s ease-in-out;
    list-style: none;
  }
  .ref:hover {
    color: white;
  }
  h1.title {
    display: inline-flex;
    justify-content: center;
  }
  .ref {
    text-decoration: none;
    color: red;
    /* background-image: -webkit-gradient(
      linear,
      right bottom,
      right top,
      color-stop(85%, rgb(255, 0, 0)),
      color-stop(3%, rgb(0, 0, 0))
    );
    background-image: gradient(
      linear,
      right bottom,
      right top,
      color-stop(85%, rgb(255, 0, 0)),
      color-stop(3%, rgb(0, 0, 0))
    );
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text; */
    transition: color 0s 0s;
  }
  .theme {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
  h1 {
    display: inline-flex;
    color: white;
    font-size: 2rem;
    font-weight: 850;
    padding: 8% 6.5% 2%;
    text-transform: uppercase;
  }
  .red {
    padding: 0px 10px;
    color: rgb(255, 0, 0);
  }
  .redb {
    padding: 0px 10px;
    color: rgb(9, 9, 9);
  }
  .redf {
    color: rgba(255, 0, 0, 0.816);
  }
  .banner {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;
  }
  p.date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: white;
    text-align: center;
  }
  #rep {
    color: red;
    font-size: 9vh;
    text-align: center;
  }
  .tag {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.59);
    height: 100%;
    width: 100%;
    margin-top: 0rem;
  }
  .text {
    display: flex;
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.699);
    text-transform: uppercase;
    justify-content: center;
    margin: auto;
    font-family: monospace;
    font-weight: 800;
  }
  .box-main {
    height: 100vh;
    width: 100%;
    background: url(images/giphy.gif);
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    margin-top: 4rem;
  }
  .the-box {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    margin: auto;
    background: rgb(0, 0, 0);
    margin-top: 1rem;
  }
  .howd {
    margin: auto;
    font-size: 2.7rem;
    padding: 1rem;
    color: white;
  }
  .cont {
    font-size: 1rem;
    padding: 1.2rem 2rem;
    color: white;
  }
  #earth {
    height: 500px;
    width: auto;
    min-width: 80%;
    margin: auto;
  }
  .shivaji {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5% 0 0;
    width: 100%;
  }
  .image {
    justify-items: center;
    padding: 3% 1% 0;
  }
  .shiv {
    height: auto;
    width: 100%;
    margin: auto;
  }
  .line {
    display: none;
    flex-basis: 0.3%;
    width: 450px;
    margin: 2% 5% 0;
    border-radius: 2%;
    background-color: white;
  }
  .contact {
    flex-wrap: wrap;
    font-size: 1.4rem;
    font-weight: 800;
    margin: auto;
    width: 93%;
    background-color: rgba(255, 255, 255, 0.879);
    border-bottom-left-radius: 6.8%;
    border-bottom-right-radius: 6.8%;
  }
  .crown {
    justify-items: center;
    align-self: center;
    padding: 1.7rem 0.2rem 2rem;
    text-decoration: underline;
    color: black;
  }
  .addre {
    justify-items: center;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    padding: 0.3rem;
  }
  .mail {
    color: rgb(2, 2, 2);
    text-decoration: none;
    word-wrap: break-word;
    font-size: 1rem;
  }
  .social a {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 4rem 1.1rem 1rem;
    height: 3.4rem;
  }
  .face,
  .insta,
  .tweet {
    display: inline-flex;
  }
  #tweet,
  #insta,
  #face {
    border-radius: 35%;
  }
  #tweet {
    padding: 0.3rem 0 0;
  }
  .jump {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.3rem;
  }
  /* .explo {
    color: white;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding: 1rem 0 0;
  }
  .symb {
    color: white;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding: 0.7rem 0 0;
  }
  .symb {
    animation: symbole 0.5s 0.7s 5 ease-in-out;
  }
  @keyframes symbole {
    0% {
      margin: -0.3rem auto 0;
    }
    100% {
      margin: 0rem auto 0;
    }
  } */
  footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding-top: 5%;
  }
  .box-foot {
    background-color: red;
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  .copy {
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    color: white;
    width: 80%;
    margin: auto;
    padding: 0.8rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .cen {
    display: inline-flex;
    /* margin: auto; */
  }
  .reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1.2s all ease;
  }
  .reveal.active {
    transform: translateY(0);
    opacity: 1;
  }
}
