@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&family=Poppins:ital,wght@0,500;1,400&display=swap");
body {
  background-color: black;
  font-family: league spartan;
}
#logo {
  display: inline-flex;
  height: 140px;
  width: 590px;
  padding-left: 1.3rem;
  margin-top: 2%;
  clear: right;
}
.bars {
  display: none;
}
.sidebar {
  display: none;
}
.linex {
  display: none;
}
.edit {
  display: flex;
  width: auto;
  height: auto;
  min-height: 325px;
  padding: 3%;
  background: fixed white;
  justify-content: center;
  margin: 0.4%;
  padding: 20px;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.remex {
  display: inline-flex;
  list-style: none;
  text-transform: uppercase;
  padding: 0.3% 1%;
  margin: auto;
}
li {
  padding: 0 1.8rem 2rem;
  font-weight: 850;
  font-size: 21px;
  margin-top: 0;
}
.ref:hover {
  color: white;
}
.ref {
  text-decoration: none;
  color: red;
  transition: color 0s 0s;
}
.main-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
h1 {
  /* animation: slidein 0.8s 0.3s 1 ease-in-out; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-size: 3.6rem;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: auto;
  padding: 0.5rem 0.3rem 2rem;
}
.cent {
  display: flex;
  justify-content: center;
}
.imtec {
  height: 19rem;
  width: 80%;
  margin: 0 auto;
  justify-items: center;
  padding: 0 auto 0;
  border-radius: 7%;
}
.teambox-1 {
  height: 470px;
  /* height: auto; */
  width: 380px;
  /* width: auto; */
  background-color: rgb(0, 0, 0);
  margin-top: 3%;
}
.smo {
  font-size: 1.9rem;
  margin: 0.3rem auto;
}
.hod .cent img {
  height: 26rem;
  width: auto;
  margin: 0 auto;
  justify-items: center;
  padding: 0 auto 0;
}
.rot {
  transform: rotate(-90deg);
}
.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  color: red;
  /* position: absolute;
  bottom: 0; */
  padding: 1rem auto 1rem;
}
.namhe {
  font-size: 2.4rem;
}
.occup {
  font-size: 1.2rem;
  color: white;
  padding: 1.5rem auto;
}
.teammain,
.anima {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding-top: 5rem;
}
.teammain-s {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: center;
  gap: 4rem;
  padding-top: 5rem;
}
.boxed {
  height: 370px;
  /* height: auto; */
  width: 280px;
  /* width: auto; */
  background-color: rgb(0, 0, 0);
  margin-top: 3%;
}
.headline {
  display: flex;
  height: 35rem;
  width: 100%;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  background-color: black;
}
.snap {
  display: flex;
  flex-direction: row;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  animation: blur 4s 1s 1 ease-in;
}
@keyframes blur {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.red {
  display: inline-flex;
  color: red;
  padding: 0 1rem;
}
footer {
  position: relative;
  bottom: 0;
  padding-top: 5%;
}
.box-foot {
  background-color: red;
  width: auto;
  height: auto;
  border-radius: 10px;
  margin: auto;
}
.copy {
  display: flex;
  flex-direction: column;
  font-size: 32px;
  color: white;
  width: 80%;
  margin: auto;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
.cen {
  display: inline-flex;
  margin: auto;
}
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1.6s all ease;
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

/* media mobile */

@media screen and (max-width: 768px) {
  body {
    background-color: black;
  }
  .logo {
    display: flex;
    height: auto;
    width: auto;
  }
  #logo {
    display: inline-flex;
    height: 4.5rem;
    width: 15rem;
    position: absolute;
    left: 0;
    top: 0;
    margin-left: -5.3%;
  }
  .edit {
    display: flex;
    width: auto;
    height: auto;
    min-height: 325px;
    padding: 3%;
    background: fixed white;
    justify-content: center;
    margin: 0.4%;
    padding: 20px;
  }
  .bars {
    display: block;
    position: absolute;
    top: 1.6rem;
    right: 1rem;
    transition: 0.3s ease;
  }
  .bar-1,
  .bar-2,
  .bar-3 {
    height: 5px;
    width: 1.6rem;
    background-color: white;
    border-radius: 20%;
    /* margin: 10% 0; */
  }
  .bar-1 {
    transform: translateY(-2px);
  }
  .bar-3 {
    transform: translateY(2px);
  }
  .sidebar {
    display: block;
    background-color: black;
    height: 100vh;
    width: 80%;
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    transform: translate(100%);
    transition: transform 0.2s 0.3s ease-in;
  }
  ul.sidebar-menu {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-weight: 850;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.4rem;
    justify-content: center;
    align-items: center;
  }
  .sidebar.active {
    display: block;
    transform: translate(0);
    position: fixed;
    top: 0;
    right: 0;
  }
  .lower {
    display: flex;
    justify-content: center;
  }
  .lower img {
    height: 4rem;
    width: auto;
    position: absolute;
    bottom: 2.8rem;
    margin: auto;
    padding-left: 1rem;
  }
  .spec {
    width: 70%;
    height: 0.1rem;
    background-color: white;
    margin: auto;
    position: absolute;
    bottom: 9rem;
    left: 3rem;
  }
  .cross {
    display: block;
    position: absolute;
    top: 1.6rem;
    right: 1rem;
  }
  .cross-1 {
    height: 5px;
    width: 1.6rem;
    background-color: white;
    border-radius: 20%;
    transform: translateY(2px) rotate(45deg);
  }
  .cross-2 {
    height: 5px;
    width: 1.6rem;
    background-color: white;
    border-radius: 20%;
    transform: translateY(-3px) translateX(-1.3px) rotate(-45deg);
  }
  .cent {
    display: flex;
    justify-content: center;
  }
  .imtec {
    height: 11rem;
    width: 80%;
    margin: 0 auto;
    justify-items: center;
    padding: 0 auto 0;
    border-radius: 7%;
  }
  .teambox-1 {
    height: 470px;
    /* height: auto; */
    width: 380px;
    /* width: auto; */
    background-color: rgb(0, 0, 0);
    margin-top: 3%;
  }
  .smo {
    font-size: 0.7rem;
    margin: 0.3rem auto;
  }
  .hod .cent img {
    height: 19rem;
    width: auto;
    margin: 0 auto;
    justify-items: center;
    padding: 0 auto 0;
  }
  .rot {
    transform: rotate(-90deg);
  }
  .name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    color: red;
    /* position: absolute;
    bottom: 0; */
    padding: 1rem auto 1rem;
  }
  .namhe {
    font-size: 1.3rem;
  }
  .occup {
    font-size: 0.8rem;
    color: white;
    padding: 1.5rem auto;
    margin: 0 auto;
  }
  .linex {
    display: inline-flex;
    width: 30%;
    height: 0.3rem;
    background-color: white;
    margin: auto;
    margin-top: -2%;
  }
  .nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
  .remex {
    display: none;
    list-style: none;
    text-transform: uppercase;
    padding: 0.3% 1%;
    margin: auto;
  }
  li {
    padding: 0 1.8rem 2rem;
    font-weight: 850;
    font-size: 21px;
    margin-top: 0;
  }
  .ref:hover {
    color: white;
  }
  .ref {
    text-decoration: none;
    color: red;
    transition: color 0s 0s;
  }
  .main-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  h1 {
    /* animation: slidein 0.8s 0.3s 1 ease-in-out; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-size: 3rem;
    text-transform: uppercase;
    color: rgb(255, 8, 0);
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    margin: 6rem auto 1rem;
    padding: 0.5rem 0.3rem 2rem;
  }
  .teammain,
  .anima {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding-top: 1rem;
  }
  .teammain-s {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding-top: 5rem;
  }
  .boxed {
    height: 14rem;
    /* height: auto; */
    width: 10rem;
    /* width: auto; */
    background-color: rgb(0, 0, 0);
    margin-top: 3%;
  }
  .mobb {
    display: none;
  }
  .headline {
    display: flex;
    height: 3rem;
    width: 100%;
    background-color: black;
    margin: 0 auto 0;
  }
  h1.snap {
    display: flex;
    flex-direction: row;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 1rem;
    word-wrap: break-word;
    color: white;
    animation: blur 4s 1s 0 ease-in;
  }
  @keyframes blur {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .red {
    display: inline-flex;
    color: red;
    padding: 0 0.5rem;
    font-size: 5vh;
  }
  footer {
    position: relative;
    bottom: 0;
    padding-top: 5%;
  }
  .box-foot {
    background-color: red;
    width: auto;
    height: auto;
    border-radius: 10px;
    margin: auto;
  }
  .copy {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    color: white;
    width: 80%;
    margin: auto;
    padding: 0.8rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .cen {
    display: inline-flex;
    margin: auto;
  }
  .reveal {
    position: relative;
    transform: translateY(15px);
    opacity: 1;
    transition: 1.6 0 ease;
  }
  .reveal.active {
    transform: translateY(0);
    opacity: 1;
  }
}
